.header {
  height: 1px;
  background-color: #ff3fb6; /* Change to any color you like */
  color: #fff;
  padding: 20px;
  text-align: center;
}

.Free-text {
  font-size: 15px;
  padding: 0%;
  text-align: center;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Name {
  font-size: 20px;
  color: black;
  font-weight: bold;
  background-color: #ffffff; /* Change to any color you like */
  margin-top: 10px;
}
